<h1>Log In</h1>

<%= render 'sessions/log_in_form' %>
<br>

<%= render 'sessions/oauth-link' %>
<br><br>

<h4>Don't have an account yet? <%= link_to "Sign up now!", signup_path, class: 'btn btn-info btn-xs' %></h4>

<%= link_to 'Cancel', root_path %>
