<div class="container_login_signin">
  <h1>Log In</h1>

  <%= render 'sessions/log_in_form' %>

  <%= render 'sessions/oauth-link' %>

  <div class="adding_objects">
    <p>Don't have an account yet?</p>
    <%= link_to "Sign up now!", signup_path, class: 'btn btn-info btn-xs' %></h4>
  </div>

  <%= link_to 'Cancel', root_path %>
</div>
