<div id="the_artists" class="header">
  <div class="heading">
    <h1>Edit <%= @artist.name %></h1>
  </div>

  <%= render :partial => 'formButtons' %>

</div>

<div class="content">
  <%= render 'form' %>
</div>
