<div id="the_artworks" class="header">
  <div class="heading">
    <h4> <%= @artist.name %>'s Artworks </h4>
  </div>

  <div class="obj-attr">
    <p><%= pluralize(@artist.artworks.count, 'Artworks') %></p>
  </div>

  <div class="obj-links">
    <%= link_to "Add New Artwork", new_artist_artwork_path(@artist), id:"add_artwork", class:'btn btn-link btn-sm', :data => {:id => @artist.id} %>
  </div>
</div>
