<h1>Edit <%= @artwork.title  %> </h1>

<%= render 'form'  %>

<p><%= link_to "Cancel", artist_artwork_path %></p>
<!-- cancel takes you back to the artist's show page # artwork section-->
<!-- or should it go to artwork_path(@artwork)-->
