<div id="the_artworks" class="header">
  <div class="heading">
    <h1>Edit <%= @artwork.title  %> </h1>
  </div>

  <div class="obj-links">
    <%= link_to "Cancel", artist_artwork_path, id:'artist_show', class:'artist_show_link btn btn-link btn-md', :data => {:id => @artist.id} %>
    <!-- <%= link_to "Cancel", artist_path(@artist), id:'artist_show', class:'artist_show_link btn btn-link btn-md', :data => {:id => @artist.id} %> -->
  </div>
</div>

<div class="content">
  <%= render 'form' %>
</div>
