<div class="body-header">
  <div class="header">
    <h1>Add a New Artwork</h1>
  </div>

  <div class="header-btns">
    <%= link_to "Cancel", artist_path(@artist), id:'artist_show', class:'btn btn-link btn-md' %>
  </div>
</div>

<div class="body-content">
  <%= render 'form' %>
</div>
