<h1>Add a New Artwork</h1>

<%= render 'form'  %>

<p><%= link_to "Cancel", artist_path(@artist) %></p>
<!-- cancel takes you back to the artist's show page # artwork section -->
<!-- or should it go to artwork_path(@artwork)-->
