<%= render 'shared/form_errors', target: @user %>

<div id="new_user" class="container">
  <h1>Join Artphilia</h1>
  <p>Already a member? <%= link_to "Log In!", login_path %></p>

  <%= render 'sessions/oauth-link' %>

  <%= render 'users/form' %>
</div>
