<%= render 'shared/form_errors', target: @user %>

<div class="container">
  <h1>Join Artphilia</h1>

  <div class="adding_objects">
    <p>Already a member? <%= link_to "Log In!", login_path %></p>
  </div>

  <%= render 'users/form' %>

  <%= render 'sessions/oauth-link' %>
</div>
