<div id="homepage" class="header">
  <h1>Artphilia</h1>
</div>

<div class="section">
  <div class="row text-center">
    <div class="col-lg">
      <p> <%= link_to "Collection of Artists", artists_path, id:'artist_index' %> </p>
    </div>
    <div class="col-lg">
      <p>Collection of Galleries/Fairs (coming soon)</p>
    </div>
    <div class="col-lg">
      <p>Wish List (coming soon)</p>
    </div>
  </div>
</div>
