<div class="container">
  <h1>Artphilia</h1>
  <p>Keep a record of all the artists you know and love!</p>
    <div class="col-xs-3">

      <%= render 'sessions/oauth-link' %>

      <br>
      <%= link_to "Sign Up", signup_path, class: 'btn btn-success btn-md' %>
      <%= link_to "Log In", login_path, class: 'btn btn-success btn-md' %>
    </div>
</div>
