/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// FONTS
// @import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Della+Respira');
@import url('https://fonts.googleapis.com/css?family=Karla');

h1, h2, h3, h4 {
  font-family: 'Della Respira', serif;
}

body {
  font-family: 'Karla', sans-serif;
}

body.home {
  background:url('paint-2924891_1920.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  line-height: 1.5;
}

// Nav bar
nav li a {
  margin: 7px;
}

// Errors
.error_explanation {
  padding-top: 10px;
}

.field_with_errors input{
  border: 1px solid red !important;
}

// containments

.container {
  width: 450px;
  margin: 170px auto;
  // background-color: rgba(255,255,255, 0.5);
  // border-radius: 40px;
  // border: 2px solid #73AD21;
  text-align: center;
}

.container_login_signin {
  width: 400px;
  margin: 60px auto;
  padding: 50px;
  // background-color: rgba(255,255,255, 0.5);
  border-radius: 40px;
  border: 2px solid #73AD21;
  text-align: center;
}

.container_new_edit {
  // width: 150px;
  margin: 25px auto;
  text-align: left;
}

.container_show {
  // width: 150px;
  margin: 25px auto;
  text-align: center;
}

.collection-check-box {
  margin: 0 5px auto;
  display: inline-block;
}

.add_medium {
  margin: 15px auto;
}

.form {
  text-align: left;
}

.form.placeholder {
  font-size: 4px;
}

.adding_objects {
  margin-bottom: 10px
}

.col-md-6 {
  padding-top: 35px;
  text-align: center;
}

.table.table-striped {

}

.footer {
  margin: 150px auto;
  text-align: center;
}
