// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-artist {
  // width: 150px;
  margin: 25px auto;
  text-align: center;
}

p.total_collection {
  font-size: 12px;
}
